@mixin flex-justify-align ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin centering-container($width){
    margin: 0 auto;
    width: $width;
}